{% extends 'base.html'%} 

{% block content %}


<body style="background-image: url('https://d1bj7rf5q0zm9k.cloudfront.net/images/awesoundapp/2015/a9c11a5e-105d-44a2-8376-900cab6cddb3/pitch-podcast-v01.jpg'); background-repeat: no-repeat; background-size: cover;">
    

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://fmdataba.com/images/p/8111.png" class="card-img" alt="neymar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Neymar</h1>
          <p class="card-text">Programs must be written for people to read, and only incidentally for machines to execute.</p>
          <p class="card-text">Good</p>
          <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
          <button type="button" class="btn btn-light"><a href ="/pitches">Add Pitch</a></button>
          <button type="button" class="btn btn-light"><a href ="/comments">Comment</a></button>
        </div>
      </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://fmdataba.com/images/p/22015.png" class="card-img" alt="ronaldo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Ronaldo</h1>
        <p class="card-text">To Be The Best You Need The Best.</p>
        <p class="card-text">Wooow!!!!</p>
        <p class="card-text"><small class="text-muted">Last updated 11 mins ago</small></p>
        <button type="button" class="btn btn-light"><a href ="/pitches">Add Pitch</a></button>
        <button type="button" class="btn btn-light"><a href ="/comments">Comment</a></button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://fmdataba.com/images/p/4348.png" class="card-img" alt="pogba">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Pogba</h1>
          <p class="card-text">Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.</p>
          <p class="card-text">Cool</p>
          <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
          <button type="button" class="btn btn-light"><a href ="/pitches">Add Pitch</a></button>
          <button type="button" class="btn btn-light"><a href ="/comments">Comment</a></button>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://sitejerk.com/images/messi-face-png-19.png" class="card-img" alt="messi">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Messi</h1>
          <p class="card-text">The best decisions aren’t made with your mind, but with your instinct.</p>
          <p class="card-text">Really??????</p>
          <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
          <button type="button" class="btn btn-light"><a href ="/pitches">Add Pitch</a></button>
          <button type="button" class="btn btn-light"><a href ="/comments">Comment</a></button>
        </div>
      </div>
    </div>
</div>

{% for x in index %}


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://fmdataba.com/images/p/4348.png" class="card-img" alt="pogba">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{x.body}}</h1>
        <p class="card-text">{{x.category}}</p>
        <p class="card-text">{{x.Comment}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-light"><a href ="/pitches">Add Pitch</a></button>
        <button type="button" class="btn btn-light"><a href ="/comments">Comment</a></button>
      </div>
    </div>
  </div>
</div>


</body>
{% endfor %}
{%endblock%}